<!DOCTYPE html>
<html>
<head>
	<title>MAP EDITOR</title>
</head>
<body>
	<script>
		const WIDTH = window.innerWidth, HEIGHT = window.innerHeight, listImages = JSON.parse(`<%-listImages%>`);
	</script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/bmoren/p5.collide2D@0.6/p5.collide2d.js"></script>
	<script src="../js/function.js"></script>
	<script src="../js/manager.js"></script>
	<script src="../js/sprite/sprite.js"></script>
	<script src="grid.js"></script>
	<script src="../js/sprite/roof_brown.js"></script>
	<script src="../js/sprite/door.js"></script>
	<script src="../js/sprite/box_emty.js"></script>
	<script src="../js/sprite/box_wooden.js"></script>
	<script src="../js/sprite/tree.js"></script>
	<script src="../js/sprite/rock.js"></script>
	<script src="main.js"></script>
	<div id="wrap-game" style="position: absolute;top:0px;left: 0px;width: 100%;height: 100%"></div>
</body>
</html>